header{
    width: 120rem;
    margin: auto;
    height: 8rem;
    border-bottom: 1px solid rgb(127, 120, 120);
    
    display: flex;
    align-items: center;
    padding: 0 1rem;

}
header .box-img{
    width: 6rem;
    height: 6rem;

}
header .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
header{
    display: flex; /* Utiliza flexbox para organizar los elementos hijos */
    justify-content:space-between; /* Distribuye el espacio entre los elementos hijos */
    padding: 10px 50px; /* Añade relleno alrededor del encabezado */
}
/* Estilos para el logotipo */
.logo {
    font-size: 40px; /* Tamaño de fuente del logotipo */
}

/* Estilos para los botones */
.btn{
    background-color: blueviolet; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    font-size: 20px; /* Tamaño de fuente del botón */
    
    

    padding: 10px 30px; /* Añade relleno alrededor del texto del botón */
    border-radius: 10px; /* Define la curvatura de las esquinas del botón */
}
/* Estilos para cuando se pasa el cursor sobre el botón */
.btn:hover{
    background-color: black; /* Cambia el color de fondo del botón al pasar el cursor */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es interactivo */
    transition: 0.5s;  /* Agrega una transición suave cuando cambia el color */
}
/* Estilos para el contenedor de la navegación */
nav {
    width: 700px; /* Establece el ancho del contenedor de navegación */

    display: flex; /* Utiliza flexbox para organizar los elementos hijos */
    justify-content: space-around;  /* Distribuye el espacio alrededor de los elementos hijos */
    align-items: center; /* Centra verticalmente los elementos hijos */
}
/* Estilos para los enlaces de navegación */
nav a{
    font-size: 18px; /* Tamaño de fuente de los enlaces de navegación */
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    color: black; /* Color del texto de los enlaces */
}


